.recap {
  display: grid;
  grid-auto-columns: minmax(20%, 150px);
  grid-auto-flow: column;
  padding: 1.5rem 14px;
  background-color: var(--main-bg-light);
}

.recap > div {
  background-color: var(--main-bg-light);
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: var(--main-text-dark);
  max-width: 100%;
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
