@import-normalize; /* bring in normalize.css styles */

:root {
  --main-bg-light: #fff;
  --main-bg-gray: silver;
  --main-text-dark: #4a4a4a;
  --danger: #82204a;
  --danger-darker: #6b1b3d;
  --red-highlight: #231123;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
